@model SchoolC1.Models.Teacher


@{
    ViewBag.Title = "Show";
}

<a class="returnlink" href="/Teacher/List">Back To Teachers</a>
<div id="show-container">
    <h1>@Model.TeacherFname @Model.TeacherLname</h1>

</div>

